body{
    background-color: #d7d7d7;
    /* margin-top: 0px; */

}
#child1{
    background-color: orange;
    border: 2px solid black;
    padding: 5px;
    position: relative;
    width: 400px;
    left: 40px;
}
#child2{
    background-color: rgb(244, 228, 17);
    border: 2px solid black;
    padding: 5px;
    width: 400px;
    position: relative;
    left: 90px;


}
#child3{
    background-color: rgb(228, 11, 76);
    border: 2px solid black;
    position: relative;
    padding: 5px;
    width: 400px;
    left: 130px;
}
#child4{
    background-color: rgb(130, 222, 17);
    border: 2px solid black;
    padding: 5px;
    position: relative;
    width: 400px;
    left: 170px;

}
#child5{
    background-color: rgb(212, 172, 103);
    border: 2px solid black;
    padding: 5px;
    position: relative;
    width: 400px;
    left: 200px;

}
#child6{
    background-color: rgb(165, 202, 120);
    border: 2px solid black;
    padding: 5px;
    position: relative;
    width: 400px;
    left: 250px;

}
.parent{
    
    margin: 40px;
    padding: 5px;
    position: relative;
}