header{
    text-align: center;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-box{
    /* border: 2px solid rgb(100, 9, 219); */
    box-shadow: 0px 0px 20px rgb(100, 9, 219);
    height: 500px;
    width: 518px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border-radius: 26px;

}
.grid{
    /* border: 2px solid red; */
    height: 140px;
    width: 133px;
    margin-left: 21px;
    margin-right: 10px;
    border-radius: 22px;
    margin-top: 12px;
    margin-bottom: 8px;

}
#restart{
    height: 34px;
    width: 98px;
    border: 2px solid blueviolet;
    border: none;
    background-color: blueviolet;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;


}
#restart:hover{
    background-color: rgb(168, 96, 236);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
   
    height: 140px;
    width: 137px;
    border: 2px solid rgb(100, 9, 219);
    box-shadow: 0px 0px 20px rgb(100, 9, 219);
    background-color: white;
    border: none;
    border-radius: 22px;
    font-size: 56px;
    
}
.display{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 12px;
    
}
